<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:decorate template="/tema/layout.xhtml">
	<ui:define name="titulo">
    		Gerenciar Cidades
    	</ui:define>
	<ui:define name="centro">
		<h:form id="formListagem">
			<p:panel header="Cidades - Listagem">
				<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado." paginator="true" value="#{cidadeBean.cidades}" var="cidade" rows="5">
					<f:facet name="header">
						<p:commandButton value="Novo" actionListener="#{cidadeBean.novo}" oncomplete="PF('dialogo').show();" update=":mensagem :formCadastro:painel">
							<f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
						</p:commandButton>

					</f:facet>

					<p:column headerText="Nome" filterBy="#{cidade.nome}" sortBy="#{cidade.nome}">
						<h:outputText value="#{cidade.nome}" />
					</p:column>

					<p:column headerText="Estado" filterBy="#{cidade.estado.nome}" sortBy="#{cidade.estado.nome}">
						<h:outputText value="#{cidade.estado.nome}" />
						<h:outputText value=" - " />
						<h:outputText value="#{cidade.estado.sigla}" />
					</p:column>

					<p:column headerText="Opções">
						<p:commandButton icon="ui-icon-trash" actionListener="#{cidadeBean.excluir}" update=":mensagem :formListagem:tabela">
							<p:confirm header="Confirmação" message="Deseja excluir a cidade" icon="ui-icon-alert" />
							<f:attribute name="cidadeSelecionada" value="#{cidade}" />
						</p:commandButton>

						<p:commandButton icon="ui-icon-pencil" actionListener="#{cidadeBean.editar}" update=":mensagem :formCadastro:painel" oncomplete="PF('dialogo').show();">
							<f:attribute name="cidadeSelecionada" value="#{cidade}" />
							<f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
						</p:commandButton>
					</p:column>
				</p:dataTable>

				<p:confirmDialog global="true" appendTo="@(body)">
					<p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:panel>
		</h:form>

		<p:dialog header="Cidades - Cadastro" widgetVar="dialogo" draggable="false" resizable="false" modal="true" closable="false" appendTo="@(body)">
			<h:form id="formCadastro">
				<h:panelGrid id="painel" columns="2">
					<p:outputLabel for="nome" value="Nome:" />
					<p:inputText id="nome" maxlength="50" size="30" value="#{cidadeBean.cidade.nome}" required="true" requiredMessage="O campo 'Nome' é obrigatório" />

					<p:outputLabel for="estado" value="Estado:" />
					<p:selectOneMenu id="estado" filter="true" value="#{cidadeBean.cidade.estado}" converter="omnifaces.SelectItemsConverter" required="true"
						requiredMessage="O campo 'Estado' é obrigatório">
						<f:selectItem noSelectionOption="true" itemLabel="Selecione um estado" />
						<f:selectItems value="#{cidadeBean.estados}" var="estado" itemValue="#{estado}" itemLabel="#{estado.nome} - #{estado.sigla}" />
					</p:selectOneMenu>
				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:commandButton value="Salvar" actionListener="#{cidadeBean.salvar}" update=":mensagem :formCadastro:painel :formListagem:tabela" />

					<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:decorate>
</html>