<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:decorate template="/tema/layout.xhtml">
	<ui:define name="titulo">
    		Gerenciar Clientes
    	</ui:define>
	<ui:define name="centro">
		<h:form id="formListagem">
			<p:panel header="Clientes - Listagem">
				<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado." paginator="true" value="#{clienteBean.clientes}" var="cliente" rows="5">
					<f:facet name="header">
						<p:commandButton value="Novo" oncomplete="PF('dialogo').show();" actionListener="#{clienteBean.novo}" update=":mensagem :formCadastro:painel">
							<f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
						</p:commandButton>

					</f:facet>

					<p:column headerText="Nome" filterBy="#{cliente.pessoa.nome}" sortBy="#{cliente.pessoa.nome}">
						<h:outputText value="#{cliente.pessoa.nome}" />
					</p:column>

					<p:column headerText="CPF" filterBy="#{cliente.pessoa.cpf}" sortBy="#{cliente.pessoa.cpf}">
						<h:outputText value="#{cliente.pessoa.cpf}" />
					</p:column>

					<p:column headerText="Data de Cadastro" sortBy="#{cliente.dataCadastro}">
						<h:outputText value="#{cliente.dataCadastro}">
							<f:convertDateTime locale="pt_BR" />
						</h:outputText>
					</p:column>

					<p:column headerText="Liberado" sortBy="#{cliente.liberado}">
						<p:selectBooleanCheckbox value="#{cliente.liberado}" disabled="true" />
					</p:column>

					<p:column headerText="Opções">
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>

		<p:dialog header="Clientes - Cadastro" widgetVar="dialogo" draggable="false" resizable="false" modal="true" closable="false" appendTo="@(body)">
			<h:form id="formCadastro">
				<h:panelGrid id="painel" columns="2">
					<p:outputLabel for="pessoa" value="Pessoa:" />
					<p:selectOneMenu id="pessoa" filter="true" value="#{clienteBean.cliente.pessoa}" required="true" requiredMessage="O campo 'Pessoa' é obrigatório"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem noSelectionOption="true" itemLabel="Selecione uma pessoa" />
						<f:selectItems value="#{clienteBean.pessoas}" var="pessoa" itemValue="#{pessoa}" itemLabel="#{pessoa.nome} - #{pessoa.cpf}" />
					</p:selectOneMenu>

					<p:outputLabel for="dataCadastro" value="Data de Cadastro:" />
					<p:calendar id="dataCadastro" value="#{clienteBean.cliente.dataCadastro}" required="true" requiredMessage="O campo 'Data de Cadastro' é obrigatório"
						size="10" locale="pt_BR" />

					<p:outputLabel for="liberado" value="Liberado:" />
					<p:selectBooleanCheckbox id="liberado" value="#{clienteBean.cliente.liberado}" required="true" requiredMessage="O campo 'Liberado' é obrigatório" />
				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:commandButton value="Salvar" update=":mensagem :formCadastro:painel :formListagem:tabela" actionListener="#{clienteBean.salvar}" />
					<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
	</ui:decorate>
</html>