<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:decorate template="/tema/layout.xhtml">
    	<ui:define name="titulo">
    		Página inicial
    	</ui:define>
        <ui:define name="centro">
        	<h:graphicImage url="/resources/imagens/topo.png" /><br/>
            <h2>Seja bem vindo ao Sistema Gerenciador de Peças e Serviços Automotivos (SGPSA).</h2>
        </ui:define>
    </ui:decorate>
</html>