<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:decorate template="/tema/layout.xhtml">
	<ui:define name="titulo">
    		Gerenciar Produtos
    	</ui:define>	
	<ui:define name="centro">
		<h:form id="formListagem">
			<p:panel header="Produtos - Listagem">
				<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado." paginator="true" value="#{produtoBean.produtos}" var="produto" rows="5">
					<f:facet name="header">
						<p:commandButton value="Novo" actionListener="#{produtoBean.novo}" oncomplete="PF('dialogo').show();" update=":mensagem :formCadastro:painel">
							<f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
						</p:commandButton>
					</f:facet>

					<p:column headerText="Nome">
						<h:outputText value="#{produto.descricao}" />
					</p:column>

					<p:column headerText="Quantidade">
						<h:outputText value="#{produto.quantidade}" />
					</p:column>

					<p:column headerText="Preço">
						<h:outputText value="#{produto.preco}">
							<f:convertNumber locale="pt_BR" minFractionDigits="2" />
						</h:outputText>
					</p:column>

					<p:column headerText="Fabricante">
						<h:outputText value="#{produto.fabricante.descricao}" />
					</p:column>
					
					<p:column headerText="Carro">
						<h:outputText value="#{produto.carro}" />
					</p:column>
					
					<p:column headerText="Ano">
						<h:outputText value="#{produto.ano}" />
					</p:column>

					<p:column headerText="Opções">
						<p:commandButton icon="ui-icon-trash" actionListener="#{produtoBean.excluir}" update=":mensagem :formListagem:tabela">
							<p:confirm header="Confirmação" message="Deseja excluir o produto?" icon="ui-icon-alert" />
							<f:attribute name="produtoSelecionado" value="#{produto}" />
						</p:commandButton>

						<p:commandButton icon="ui-icon-pencil" actionListener="#{produtoBean.editar}" update=":mensagem :formCadastro:painel" oncomplete="PF('dialogo').show();">
							<f:attribute name="produtoSelecionado" value="#{produto}" />
							<f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
						</p:commandButton>
					</p:column>
				</p:dataTable>

				<p:confirmDialog global="true" appendTo="@(body)">
					<p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:panel>
		</h:form>

		<p:dialog header="Produtos - Cadastro" widgetVar="dialogo" draggable="false" resizable="false" modal="true" closable="false" appendTo="@(body)">
			<h:form id="formCadastro">
				<h:panelGrid id="painel" columns="2">
					<p:outputLabel value="Nome" />
					<p:inputText maxlength="50" size="30" value="#{produtoBean.produto.descricao}" required="true" requiredMessage="O campo 'Nome' é obrigatório" />

					<p:outputLabel value="Quantidade:" />
					<p:inputText maxlength="5" size="10" value="#{produtoBean.produto.quantidade}" required="true" requiredMessage="O campo 'Quantidade' é obrigatório"
						converterMessage="Informe um valor válido para o campo 'Quantidade'" validatorMessage="Informe um valor entre 0 e 1000 para o campo 'Quantidade'">
						<f:validateLongRange minimum="0" maximum="1000" />
					</p:inputText>

					<p:outputLabel value="Preço:" />
					<p:inputText maxlength="7" size="10" value="#{produtoBean.produto.preco}" required="true" requiredMessage="O campo 'Preço' é obrigatório"
						converterMessage="Informe um valor válido para o campo 'Preço''" validatorMessage="Informe um valor entre 0,01 e 9999,99 para o campo 'Preço'">
						<f:validateDoubleRange minimum="0.01" maximum="9999.99" />
						<f:convertNumber locale="pt_BR" minFractionDigits="2" />
					</p:inputText>

					<p:outputLabel value="Fabricante:" />
					<p:selectOneMenu filter="true" value="#{produtoBean.produto.fabricante}" converter="omnifaces.SelectItemsConverter" required="true"
						requiredMessage="O campo 'Fabricante' é obrigatório">
						<f:selectItem noSelectionOption="true" itemLabel="Selecione um fabricante" />
						<f:selectItems value="#{produtoBean.fabricantes}" var="fabricante" itemValue="#{fabricante}" itemLabel="#{fabricante.descricao}" />
					</p:selectOneMenu>
					
					<p:outputLabel value="Carro" />
					<p:inputText maxlength="100" size="20" value="#{produtoBean.produto.carro}" required="true" requiredMessage="O campo 'Carro' é obrigatório" />
					
					<p:outputLabel value="Ano" />
					<p:inputText maxlength="10" size="10" value="#{produtoBean.produto.ano}" required="true" requiredMessage="O campo 'Ano' é obrigatório" />

				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:commandButton value="Salvar" actionListener="#{produtoBean.salvar}" update=":mensagem :formCadastro:painel :formListagem:tabela" />
					<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:decorate>
</html>