<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:decorate template="/tema/layout.xhtml">
	<ui:define name="titulo">
    		Gerenciar Usuários
    	</ui:define>
	<ui:define name="centro">
		<h:form id="formListagem">
			<p:panel header="Usuários - Listagem">
				<p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado." paginator="true" value="#{usuarioBean.usuarios}" var="usuario" rows="5">
					<f:facet name="header">
						<p:commandButton value="Novo" oncomplete="PF('dialogo').show();" actionListener="#{usuarioBean.novo}" update=":mensagem :formCadastro:painel">
							<f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
						</p:commandButton>
					</f:facet>

					<p:column headerText="Nome" sortBy="#{usuario.pessoa.nome}" filterBy="#{usuario.pessoa.nome}">
						<h:outputText value="#{usuario.pessoa.nome}" />
					</p:column>

					<p:column headerText="CPF" sortBy="#{usuario.pessoa.cpf}" filterBy="#{usuario.pessoa.cpf}">
						<h:outputText value="#{usuario.pessoa.cpf}" />
					</p:column>

					<p:column headerText="Tipo" sortBy="#{usuario.tipoFormatado}">
						<h:outputText value="#{usuario.tipoFormatado}" />
					</p:column>

					<p:column headerText="Ativo" sortBy="#{usuario.ativoFormatado}">
						<h:outputText value="#{usuario.ativoFormatado}" />
					</p:column>

					<p:column headerText="Opções">
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>

		<p:dialog header="Usuários - Cadastro" widgetVar="dialogo" draggable="false" resizable="false" modal="true" closable="false" appendTo="@(body)">
			<h:form id="formCadastro">
				<h:panelGrid id="painel" columns="2">
					<p:outputLabel for="pessoa" value="Pessoa:" />
					<p:selectOneMenu id="pessoa" filter="true" value="#{usuarioBean.usuario.pessoa}" required="true" requiredMessage="O campo 'Pessoa' é obrigatório"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem noSelectionOption="true" itemLabel="Selecione uma pessoa" />
						<f:selectItems value="#{usuarioBean.pessoas}" var="pessoa" itemValue="#{pessoa}" itemLabel="#{pessoa.nome} - #{pessoa.cpf}" />
					</p:selectOneMenu>

					<p:outputLabel for="senha" value="Senha:" />
					<p:password id="senha" maxlength="8" size="10" value="#{usuarioBean.usuario.senha}" required="true" requiredMessage="O campo 'Senha' é obrigatório"
						validatorMessage="Informe uma senha de 6 a 8 caracteres">
						<f:validateLength minimum="6" maximum="8" />
					</p:password>

					<p:outputLabel for="tipo" value="Tipo:" />
					<p:selectOneRadio id="tipo" value="#{usuarioBean.usuario.tipo}" required="true" requiredMessage="O campo 'Tipo' ´obrigatório">
						<f:selectItem itemValue="G" itemLabel="Gerente" />
						<f:selectItem itemValue="V" itemLabel="Vendedor" />
					</p:selectOneRadio>

					<p:outputLabel for="ativo" value="Ativo:" />
					<p:selectBooleanCheckbox id="ativo" value="#{usuarioBean.usuario.ativo}" required="true" requiredMessage="O campo 'Ativo' é obrigatório" />
				</h:panelGrid>

				<h:panelGrid columns="2">
					<p:commandButton value="Salvar" update=":mensagem :formCadastro:painel :formListagem:tabela" actionListener="#{usuarioBean.salvar}" />
					<p:commandButton value="Fechar" oncomplete="PF('dialogo').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:decorate>
</html>