<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
		<title>
			<ui:insert name="titulo">Titulo da página</ui:insert>
		</title>
	
	<style type="text/css">
body {
	background-color: #eeeeee;
	font-size: 12px
}
</style>
</h:head>
<h:body>
	<p:growl id="mensagem" />
	<div align="center">
		<p:layout>
			<p:layoutUnit position="north" size="30" resizable="true">
				<h:outputText value="SGPSA - Sistema Gereciador de Peças e Serviços Automotivos - 2016" />
			</p:layoutUnit>
			<p:layoutUnit position="west" size="250" resizable="true">
				<ui:insert name="menu">
					<h:form>
						<p:menu style="width:95%!important;">
							<p:submenu label="SGPSA">
								<p:menuitem value="Gerenciar Produtos" outcome="/pages/produtos" icon="ui-icon-gear" />
								<p:menuitem value="Gerenciar Serviços" outcome="/pages/produtos" icon="ui-icon-wrench" />
							</p:submenu>
							<p:submenu label="Administrativo">
								<p:menuitem value="Pessoa Física" outcome="/pages/pessoas" icon="ui-icon-contact" />
								<p:menuitem value="Clientes" outcome="/pages/clientes" icon="ui-icon-contact" />
								<p:menuitem value="Usuários" outcome="/pages/usuarios" icon="ui-icon-contact" />
								<p:menuitem value="Cidades" outcome="/pages/cidades" icon="ui-icon-home" />
								<p:menuitem value="Estados" outcome="/pages/estados" icon="ui-icon-home" />
							</p:submenu>
						</p:menu>
					</h:form>
				</ui:insert>
			</p:layoutUnit>
			<p:layoutUnit position="center" resizable="true">
				<ui:insert name="centro">
                        O que estiver aqui será substituido!
                    </ui:insert>
			</p:layoutUnit>
		</p:layout>
	</div>
</h:body>
</html>